<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaego.web.DAO.CSBoardMapper">
	
	<select id="selectOne" parameterType="int" resultType="CSBoard">
		select
			boardnum
			,id
			,title
			,content
			,inputdate
			,hits
			,originalfile
			,savedfile
			,type			
		from
			csboard
		where
			boardnum = #{boardnum}
	</select>
	
	<insert id="write" parameterType="CSBoard">
		insert into
			csboard(
				boardnum
				,id
				,title
				,content
				,hits
				<if test="originalfile != null and savedfile != null">
				,originalfile
				,savedfile
				</if>				
				,type
			)values(
				csboard_seq.nextval
				,#{id}
				,#{title}
				,#{content}
				,0
				<if test="originalfile != null and savedfile != null">
				,#{originalfile}
				,#{savedfile}
				</if>				
				,#{type}
			)
	</insert>
	
	<select id="getAll" parameterType="String" resultType="CSBoard">
		select
			boardnum
			,id
			,title
			,content
			,inputdate
			,hits
			,originalfile
			,savedfile
			,type
		from
			csboard
		<!-- ★ ↓이게 동적 쿼리(동적 쿼리를 설정하는 if문 안에는 EL 사용 불가 / SQL문은 가능) : 이렇게 써주면 넘어온 파라메타에 따라 표현식을 변경하는 것이 가능-->
		<if test="_parameter != null">
		where
			title like '%' || #{searchText} || '%'
		</if>			
		order by
			boardnum desc
	</select>
	
	<select id="getAllCount" resultType="int">
		select
			count(*)
		from
			csboard
		<if test="_parameter != null">
		where
			title like '%' || #{searchText} || '%' 
		</if>
	</select>	
	
	<!-- 댓글 목록 불러오기 -->
	<select id="getCSReplylist" parameterType="int" resultType="CSReply">
		select
			replynum
			,boardnum
			,id
			,text
			,inputdate
		from
			csreply
		where
			boardnum = #{boardnum}
		order by
			replynum desc
	</select>

	<!-- 댓글 등록 -->
	<insert id="insertCSReply" parameterType="CSReply">
		insert into
			csreply(
				replynum
				,boardnum
				,id
				,text
			) values (
				csreply_seq.nextval
				,#{boardnum}
				,#{id}
				,#{text}
			)			
	</insert>
	
	<!-- 몸글 삭제 -->
	<delete id="deleteCSBoard" parameterType="CSBoard">
		delete from
			csboard
		where
			boardnum = #{boardnum}
		and
			id = #{id}
	</delete>
	
	<!-- 수정 쿼리 -->
	<update id="updateCSBoard" parameterType="CSBoard">
		update
			csboard
		set
			title = #{title}
			,content = #{content}
			<if test="originalfile != null and savedfile != null">
			,originalfile = #{originalfile}
			,savedfile = #{savedfile}
			</if>		<!-- ★ 첨부파일이 바뀔 수도 있음 : 그건 컨트롤러에서 처리해야... -->
		where
			boardnum = #{boardnum}
		and
			id = #{id}
	</update>
	
	<!-- 몸글 삭제 전 댓글 삭제 -->
	<delete id="deleteAllCSBoard" parameterType="int">
		delete from
			csreply
		where
			boardnum = #{boardnum}
	</delete>
	
	<select id="getCSReply" parameterType="int" resultType="CSReply">
		select
			replynum,
			boardnum,
			id,
			text,
			to_char(inputdate, 'yyyy-mm-dd-hh24:mi:ss')
		from
			csreply
		where
			replynum = #{replynum}
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteCSReply" parameterType="int">
		delete from
			csreply
		where
			replynum = #{replynum}
	</delete>

</mapper>