<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaego.web.DAO.CSBoardMapper">
	
	<insert id="write" parameterType="CSBoard">
		insert into
			csboard(
				boardnum
				,id
				,title
				,content
				,hits
				,type
			)values(
				csboard_seq.nextval
				,#{id}
				,#{title}
				,#{content}
				,0
				,#{type}
			)
	</insert>
	
	<select id="getAll" parameterType="String" resultType="CSBoard">
		select
			boardnum
			,id
			,title
			,content
			,inputdate
			,hits
			,originalfile
			,savedfile
			,type
		from
			csboard
		<!-- ★ ↓이게 동적 쿼리(동적 쿼리를 설정하는 if문 안에는 EL 사용 불가 / SQL문은 가능) : 이렇게 써주면 넘어온 파라메타에 따라 표현식을 변경하는 것이 가능-->
		<if test="_parameter != null">
		where
			title like '%' || #{searchText} || '%'
		</if>			
		order by
			boardnum desc
	</select>
	
	<select id="getAllCount" resultType="int">
		select
			count(*)
		from
			csboard
		<if test="_parameter != null">
		where
			title like '%' || #{searchText} || '%' 
		</if>
	</select>	

</mapper>