<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaego.web.dao.GoodsMapper">
	<insert id="insertGoods" parameterType="Goods">
		insert into
		Goods(
		sellerCRN
		,goodsName
		,goodsPrice
		,goodsQuantity
		<if test='goodsOimage != null and goodsSimage !=null'>
			,goodsOimage
			,goodsSimage
		</if>
		,goodsCode
		,goodsInfo
		)values(
		#{sellerCRN}
		,#{goodsName}
		,#{goodsPrice}
		,#{goodsQuantity}
		<if test='goodsOimage != null and goodsSimage !=null'>
			,#{goodsOimage}
			,#{goodsSimage}
		</if>
		,#{goodsCode}
		,#{goodsInfo}
		)

	</insert>

</mapper>