<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaego.web.DAO.GoodsMapper">
	<insert id="insertGoods" parameterType="Goods">
		insert into
		Goods(
		sellerCRN
		,goodsName
		,goodsPrice
		,goodsQuantity
		<if test='goodsOimage != null and goodsSimage !=null'>
			,goodsOimage
			,goodsSimage
		</if>
		,goodsCode
		,goodsInfo
		)values(
		#{sellerCRN}
		,#{goodsName}
		,#{goodsPrice}
		,#{goodsQuantity}
		<if test='goodsOimage != null and goodsSimage !=null'>
			,#{goodsOimage}
			,#{goodsSimage}
		</if>
		,#{goodsCode}
		,#{goodsInfo}
		)

	</insert>
	
	<select id="selectOne" parameterType="String" resultType="Goods">
		select goodsCode from goods where goodsCode=#{goodscode}
	</select>
	
	<select id="select" parameterType="String" resultType="Goods">
		select 
		sellerCRN
		,goodsName
		,goodsPrice
		,goodsQuantity
		,goodsOimage
		,goodsSimage
		,goodsCode
		,goodsInfo
		,goodsDateOfUpload
		from goods 
		where goodsCode=#{goodsCode}
	</select>
	
	<update id="updateGoods" parameterType="Goods">
		update
		Goods
		set
		goodsName = #{goodsName}
		,goodsPrice = #{goodsPrice}
		,goodsQuantity =#{goodsQuantity}
		<if test='goodsOimage != null and goodsSimage !=null'>
			,goodsOimage =#{goodsOimage}
			,goodsSimage = #{goodsSimage}
		</if>
		,goodsInfo =#{goodsInfo}
		,goodsDateOfUpdate=sysdate
		where
			goodsCode =#{goodsCode}
		and
			sellerCRN=#{sellerCRN}
	</update>
	
	<select id="sellerCRN" parameterType="String" resultType="String">
		select
			sellerCRN
		from
			seller
		where
			sellerId = #{sellerId}
	</select>
	
	<select id="list" parameterType="String" resultType="Goods">
		select 
			*
		from 
			goods
		where
			sellerCRN=#{sellerCRN}
	</select>
	
	<select id="selectPic" resultType="Goods">
		select 
			*
		from 
			goods
		where
			goodsCode=#{goodsCode}
	</select>
	
	
	<delete id="del" parameterType="String">
		delete
			goods
		where
			goodsCode=#{goodsCode}
	</delete>
	
	<update id ="update" parameterType="List">
		update 
			goods
		set
			goodsQuantity = #{0}
		where
			goodsCode = #{1} 
	</update>
	
	<insert id="insertsales" parameterType="Sales">
		insert into Sales(
			sellerCRN 
			,salesName 
			,salesCode 
			,salesPrice
			,salesQuantity
		)values(
			#{sellerCRN}
			,#{salesName}
			,#{salesCode}
			,#{salesPrice}
			,#{salesQuantity}		
		)
	</insert>
	
	<update id="updatestatus" parameterType="List">
		update 
			goods
		set
			goodsStatus = #{1}
		where
			goodsCode = #{0} 
	</update>
	
	<select id="sendinfo" parameterType="String" resultType="HashMap">
		select 
			s.sellerCRN as sellerCRN
			, s.sellerShopName as sellerShopName
 			, g.goodsName as goodsName
			, g.goodsPrice as goodsPrice
			, g.goodsQuantity as goodsQuantity
		from 
			SELLER s, GOODS g
		where 
			s.sellerCRN = g.sellerCRN 
		and 
			s.sellerCRN = #{sellerCRN}
	</select>
	
	<select id="phone" parameterType="String" resultType="Buyer">
		select
			buyerPhone
		from
			Buyer b, FAVORITE f
		where
			b.buyerId = f.buyerId
		and 
			f.buyerId 
		in 
			(select buyerId from favorite where sellerCRN = #{sellerCRN})
		group by 
			b.buyerPhone
	</select>
	
	<select id="buyer_id" parameterType="String" resultType="Buyer">
		select 
			buyerId 
		from 
			FAVORITE 
		where 
			sellerCRN = #{sellerCRN}
	</select>
	
	
	<select id="insertpush" parameterType="String" resultType="HashMap">
		select 
			g.goodsName, s.sellerShopName
		from 
			goods g, SELLER s
		where 
			g.sellerCRN = s.sellerCRN
		and 
			g.goodsCode = #{goodsCode}
	</select>
</mapper>