<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaego.web.DAO.GoodsMapper">
	<insert id="insertGoods" parameterType="Goods">
		insert into
		Goods(
		sellerCRN
		,goodsName
		,goodsPrice
		,goodsQuantity
		<if test='goodsOimage != null and goodsSimage !=null'>
			,goodsOimage
			,goodsSimage
		</if>
		,goodsCode
		,goodsInfo
		)values(
		#{sellerCRN}
		,#{goodsName}
		,#{goodsPrice}
		,#{goodsQuantity}
		<if test='goodsOimage != null and goodsSimage !=null'>
			,#{goodsOimage}
			,#{goodsSimage}
		</if>
		,#{goodsCode}
		,#{goodsInfo}
		)

	</insert>
	
	<select id="selectOne" parameterType="String" resultType="Goods">
		select goodscode from goods where goodscode=#{goodscode}
	</select>
	
	<update id="updateGoods" parameterType="Goods">
		update
		Goods
		set
		goodsName = #{goodsName}
		,goodsPrice = #{goodsPrice}
		,goodsQuantity =#{goodsQuantity}
		<if test='goodsOimage != null and goodsSimage !=null'>
			,goodsOimage =#{goodsOimage}
			,goodsSimage = #{goodsSimage}
		</if>
		,goodsInfo =#{goodsInfo}
		,goodsDateOfUpdate=sysdate
		where
			goodsCode =#{goodsCode}
		and
			sellerCRN=#{sellerCRN}
	</update>
	
	<select id="list" resultType="HashMap">
		select 
			*
		from goods
	</select>
	
	<select id="selectPic" resultType="Goods">
		select 
			*
		from 
			goods
		where
			goodsCode=#{goodsCode}
	</select>
	
	
	<delete id="del" parameterType="String">
		delete
			goods
		where
			goodsCode=#{goodsCode}
	</delete>
	
	<update id ="update" parameterType="List">
		update 
			goods
		set
			goodsQuantity = #{0}
		where
			goodsCode = #{1} 
	</update>
</mapper>