<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.jaego.web.VO.Seller" alias="Seller" />		<!-- 20170321 박진우 -->
	</typeAliases>

	<mappers>
		<mapper resource="sellerMapper.xml" />							<!-- 20170321 박진우 -->
	</mappers>
	 
</configuration>